*{
    box-sizing: border-box;
    margin: 0px;
}
.move
{
    width: 100px;
    height: 200px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin: 100px auto;
    position: relative;
    border: 2px solid rgb(194, 186, 186);
}
.move .down
{
    width: 15px;
    height: 15px;
    background-color: rgb(163, 159, 159);
    left: 42.5px;
    top: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0;
    position: absolute;
    animation-name: moving-down;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes moving-down
{
    0% {
        opacity: 1;
        top: 15px;
    }
    35%{
        opacity: .7;
    }
    75%{
        opacity: .1;
    }
    100%{
        opacity: 0;
        top: 110px;
    }
}